<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume | HNGi8 Task 2</title>
  <link rel="stylesheet" href="./style.css" type="text/css" />
</head>

<body>
  <main class="wrapper">
    <div class="achievements">

      <div class="section-wrap">
        <h3 class="section-title">PROFESSIONAL EXPERIENCE</h3>
        <div class="section">
          <span class="section-year">May 2021 - present</span>
          <span class="section-role">Software Engineer</span>
          <span class="section-company">Loanspot</span>
          <p class="section-text">
            A lending marketplace that brings borrowers and lenders together for ease of credit access.

            I built the Frontend of the web application for the borrowers, lenders, and the external pages of the
            Loanspot product.

            I am responsible for the maintenance and continuous integration of features for the frontend of the web
            application.
          </p>
        </div>

        <div class="section">
          <span class="section-year">Sept 2020 - May 2021</span>
          <span class="section-role">Software Engineer</span>
          <span class="section-company">ROI Digital</span>
          <p class="section-text">
            Primary and major contributor to the Frontend of Loanspot - a lending platform that aggregates lenders
            together for people seeking loans.

            Responsible for the agency's new innovative products that will deliver for clients and customers.

            Assisting the Development Lead with all aspects of software design and coding.
          </p>
        </div>

        <div class="section">
          <span class="section-year">November 2020 - March 2021</span>
          <span class="section-role">Frontend Developer</span>
          <span class="section-company">Motionwares Digital Solutions</span>
          <p class="section-text">
            Major contributor to the Frontend team that built Library Tracker - a web application for keeping records of
            libraries in Nigeria.
          </p>
        </div>

        <div class="section">
          <span class="section-year">June 2020 - August 2021</span>
          <span class="section-role">Frontend Developer Intern</span>
          <span class="section-company">HNG Internship</span>
          <p class="section-text">
            Worked with a team of developers to build a developer talent platform during the internship.
          </p>
        </div>
      </div>

      <div class="section-wrap">
        <h3 class="section-title">PROJECTS</h3>
        <div class="section">
          <a href="https://loanspot.africa" class="section-role">Loanspot</a>
          <span class="section-company">Africa's Lending Marketplace</span>
          <p class="section-text">
            An aggregated lending platform for lenders to search and apply for loans of their choice with ease and low
            interest rates.

            I built the Frontend of the application using VueJS
          </p>
        </div>

        <div class="section">
          <a href="https://librarytracker.org" class="section-role">Library Tracker</a>
          <p class="section-text">
            Library tracker leverages on digital technology and citizen engagement approach to provide comprehensive
            information about libraries.
          </p>
        </div>
      </div>

      <div class="section-wrap" style="display: grid; gap: 24px;">
        <h3 class="section-title">SKILLS</h3>
        <span class="section-company">JavaScript</span>
        <span class="section-company">VueJS</span>
        <span class="section-company">ReactJS</span>
        <span class="section-company">NextJS</span>
        <span class="section-company">HTML/CSS</span>
        <span class="section-company">SCSS</span>
        <span class="section-company">TailwindCSS</span>
        <span class="section-company">Chakra UI</span>
        <span class="section-company">Git/GitHub</span>
      </div>

      <div class="section-wrap">
        <h3 class="section-title">ORGANISATIONS</h3>
        <div class="section">
          <span class="section-year">May 2021 - present</span>
          <span class="section-role">Frontend Engineering Mentor</span>
          <span class="section-company">Zuri Training</span>
          <p class="section-text">
            Teach, guide and help frontend engineers who are just starting out in web development on the rudiments and required skills to becoming a frontend engineer.
          </p>
        </div>

        <div class="section">
          <span class="section-year">May 2017</span>
          <span class="section-role">Fixing Nigeria Conference</span>
          <p class="section-text">
            A movement by the Ernest an Ibrahim Foundation to rebuilding Nigeria as a Nation and ensuring good governance on all levels of government.
          </p>
        </div>
      </div>

      <div class="section-wrap" style="display: grid; gap: 24px;">
        <h3 class="section-title">INTERESTS</h3>
        <span class="section-company">Software Development</span>
        <span class="section-company">Developing potentials</span>
        <span class="section-company">Anime</span>
        <span class="section-company">Reading</span>
        <span class="section-company">Gaming</span>
        <span class="section-company">Technology</span>
        <span class="section-company">Football</span>
      </div>

      <form id="contact-form" class="form" style="margin-top: 40px;">
        <h3 class="form-title">SEND A MESSAGE</h3>
        <div class="input-wrap">
          <label for="" class="input-label">Name</label>
          <input type="text" class="input fullName" placeholder="Enter your name">
        </div>
        <div class="input-wrap">
          <label for="" class="input-label">Email</label>
          <input type="email" class="input email" placeholder="Enter your email">
        </div>
        <div class="input-wrap">
          <label for="" class="input-label">Phone</label>
          <input type="tel" maxlength="11" class="input phone" placeholder="Enter your phone">
        </div>
        <div class="input-wrap">
          <label for="" class="input-label">Message</label>
          <textarea name="" placeholder="Enter your message" class="input message" id="" cols="30" rows="10"></textarea>
        </div>
        <button class="form-btn" type="submit">SUBMIT</button>
      </form>
    </div>

    <div class="personal">
      <div class="logos">
        <a href="https://hng.tech/" class="">
          <img src="./hng-logo.jpg" alt="" srcset="">
        </a>
        <a href="https://training.zuri.team/" class="">
          <img src="./zuri-logo.jpg" alt="" srcset="">
        </a>
        <a href="https://ingressive.org/" class="">
          <img src="./i4g-logo.jpg" alt="" srcset="">
        </a>
      </div>
      <div class="personal-inner">
          <div class="name">
            <h1 class="first-name">ADRYAN</h1>
            <h1 class="last-name">CHIME</h1>
          </div>
          <div class="title">FRONTEND ENGINEER</div>
          <div class="socials">
            <a href="mailto:adryanchime@gmail.com" class="email"><span>E:</span> adryanchime@gmail.com</a>
            <a href="https://github.com/I-GiM" class="email"><span>G:</span> https://github.com/I-GiM</a>
            <a href="tel:+2348064383147" class="email"><span>P:</span> +2348064383147</a>
          </div>
          <div class="profile">
            <p class="profile--text">
              A Frontend Engineer that is passionate about building solutions that can serve users effectively and
              efficiently using the necessary skills required. These skills include a good command of HTML/CSS and
              JavaScript. I am also efficient with ReactJS and VueJS – JavaScript frameworks used for building powerful and
              robust User Interfaces for the web. Added to my skills is a good command of Git and GitHub for versioning.
              <br /><br />
              When I’m not writing code, I’m thinking possible ideas to create, watching anime, or connecting with friends.
              <br /><br />
              I believe in constant growth and so in every organization I find myself, applying myself to the growth of that
              organization is a priority for me.
            </p>
          </div>
      </div>
    </div>
  </main>

  <script src="script.js"></script>
</body>

</html>